<section id="home">
    <h1>Singsekai</h1>
    <!-- <video src="../../assets/videos/logo.mp4" autoplay preload="none"></video> -->
    <img src="../../assets/images/mic.png" width="500px"/>
    <a routerLink="/play" id="play_cta">Play</a>
</section>
<section id="features">
    <h1>Features</h1>
    <div class="cards">
        <div class="card">
            <img src="../../assets/images/singing_guy.jpg"/>
            <div class="card_text">
                <h3>All of your karaoke in one place</h3>
                <p>Sing to your favourite karaoke songs and don't bother searching for it on YouTube!</p>
            </div>
        </div>

        <div class="card">
            <img src="https://www.billboard.com/files/styles/article_main_image/public/media/twitch-sings-2019-billboard-1548.jpg"/>
            <div class="card_text">
                <h3>A fun and interactive game</h3>
                <p>After pluging in a microphone, gain points and show your friends who's the boss of karaoke!</p>
            </div>
        </div>

        <div class="card">
            <img src="https://marketplace.canva.com/MADGwPM2jH4/5/screen/canva-group-of-people-partying-MADGwPM2jH4.jpg"/>
            <div class="card_text">
                <h3>Don't let a party slow down again</h3>
                <p>With singsekai, say hello back to the fun atmosphere</p>
            </div>
        </div>
    </div>
</section>