@import '../colors';
@import '../fonts';

:host{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home {
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/background_logo.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);

    clip-path: inset(0 0 0 0);

    // video{
    //     object-fit: cover;
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 0.01px; // Fixes Google Chrome Bug
    // }

    img{
        width: 40vw;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -45%);
    }

    h1{
        color: $dark;
        font-size: 10em;
        font-family: $f_manuscript;

        width: 100%;
        text-align: center;

        transform: scale(0);
        animation: pop 0.5s cubic-bezier(0.42, 0, 0.24, 1.44) 1s forwards;
        margin-top: 78px;

    }
}


#features {
    width: 100%;
    min-height: calc(100vh - 78.2px);
    display: grid;

    grid-template-rows: auto 1fr;

    h1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-family: $f_primary;
        font-weight: normal;
        font-size: 2em;
        margin: 0.5em 0 0.5em 0;
        text-align: center;
    }

    align-items: stretch;


    .cards{
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;

    }
}

.card{

    height: 90%;
    display: grid;

    grid-template-rows: 4fr 5fr;


    font-family: $f_primary;

    width: 25vw;
    background-color: white;

    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.7);

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h3{
        padding: 0 0.5em 0 0.5em;
        text-align: center;
        margin: 5px 0 10px 0;
        font-size: 1.5vw;
    }

    p{
        font-size: 1.25vw;
        width: 80%;
    }

    .card_text{
        padding: 1em 0 1em 0;
        display: grid;

        grid-template-rows: auto 1fr;

        justify-items: center;
    }
}





@keyframes pop{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}