<section id="cover">
    <h1>Singsekai</h1>
    <!-- <video src="../../assets/videos/logo.mp4" autoplay preload="none"></video> -->
    <img src="../../assets/images/mic.png" width="500px"/> 
    <h1> Peny</h1>
</section>
<section class="content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, similique tempore? Impedit quibusdam, similique laborum voluptatum aperiam alias recusandae magni nostrum ex sapiente iusto quam ipsa deserunt, veniam quas a quisquam id. Corporis qui quod, veritatis enim sunt inventore amet distinctio, accusamus molestiae suscipit cum id. Architecto facere dicta nostrum beatae praesentium cum, quam tenetur, molestiae ipsam sapiente ratione, id atque error corrupti dolorum aspernatur at quos minima necessitatibus cumque a dolore consequuntur? Nulla obcaecati ea sunt temporibus consectetur molestias natus pariatur vero perspiciatis ipsam dignissimos, voluptatum blanditiis, repudiandae ex? Molestias ad veritatis fugit blanditiis iste dolorem perferendis explicabo accusantium.
</section>