<section id="home">
    <h1>Singsekai</h1>
    <!-- <video src="../../assets/videos/logo.mp4" autoplay preload="none"></video> -->
    <img src="../../assets/images/mic.png" width="500px"/>
</section>
<section id="features">
    <h1>Features</h1>
    <div class="cards">
        <div class="card">
            <img src="../../assets/images/singing_guy.jpg"/>
            <div class="card_text">
                <h3>Get fucking drunk in front of singsekai</h3>
                <p>The worthless piece of shit you are will have the time of its life while singing to our beautiful collection of songs.</p>
            </div>
        </div>

        <div class="card">
            <img src="https://media1.fdncms.com/eastbayexpress/imager/u/original/24002329/medical-marijuana-dispensary.jpg"/>
            <div class="card_text">
                <h3>High as fuck on weed</h3>
                <p>We got your back, your medical marijuana has never felt so good. While singing on singsekai, experience highs you had never tought were possible before.</p>
            </div>
        </div>

        <div class="card">
            <img src="https://cdn.ebaumsworld.com/mediaFiles/picture/464424/953538.jpg"/>
            <div class="card_text">
                <h3>You worthless son of incest</h3>
                <p>Congrats, you've done it again. Your mom isn't proud of you.</p>
            </div>
        </div>
    </div>
</section>